@using Newbe.BookmarkManager.Services
@using Newbe.BookmarkManager.Services.EventHubs

<Popover Placement="@PlacementType.Bottom"
         TitleTemplate="@_text" ContentTemplate="@Mytemplate2(@_messages)" Trigger="@(new[] {AntDesign.TriggerType.Click})">
    <Badge Count="@UnreadCount" Class="badge" >
        <Button Class="noticeButton">
            <Icon Type="bell" Theme="outline" Width="2em" Height="2em" />
        </Button>
    </Badge>

</Popover>

<style>
    .popover {
      position: relative;
      width: 336px;
    }
    
    .noticeButton {
      display: inline-block;
      cursor: pointer;
      transition: all 0.3s;
      padding: 4px 4px;
    }
    .icon {
      padding: 4px;
      vertical-align: middle;
    }
    
    .badge {
      font-size: 16px;
    }
   
</style>


@code {
    [Inject]
    public INotificationRecordService NotificationRecordService { get; set; }
    [Inject] 
    public IAfEventHub AfEventHub { get; set; }

    private int UnreadCount;
    private RenderFragment _text =@<span>Notification</span>;
    public List<NotificationRecord> _messages { get; set; }

    private RenderFragment<List<NotificationRecord>> Mytemplate2 =(messages)=> 
        @<NotificationList NotificationRecords="@messages"></NotificationList>;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        UnreadCount = await NotificationRecordService.GetUnreadCountAsync();
        _messages = await NotificationRecordService.GetListAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            AfEventHub.RegisterHandler<UserLoginSuccessEvent>(HandleUserNotificationEvent);
        }
    }
    
    private async Task HandleUserNotificationEvent(UserLoginSuccessEvent afEvent)
    {
        
        UnreadCount = await NotificationRecordService.GetUnreadCountAsync();
    }
}