@using Newbe.BookmarkManager.Services
@using Newbe.BookmarkManager.Services.EventHubs

<Popover Placement="@PlacementType.Bottom"
         TitleTemplate="@_text" ContentTemplate="@ContentTemplate(new NotificationParameter{
                                                     NotificationRecords = Messages,Update = Update})" Trigger="@(new[] {AntDesign.TriggerType.Click})">
    <Badge Count="@UnreadCount" Class="badge" >
        <Button Class="noticeButton">
            <Icon Type="bell" Theme="outline" />
        </Button>
    </Badge>

</Popover>

@code {
    [Inject]
    public INotificationRecordService NotificationRecordService { get; set; }
    [Inject] 
    public IAfEventHub AfEventHub { get; set; }

    private int UnreadCount;
    private RenderFragment _text =@<span>Notification</span>;
    public List<NotificationRecord> Messages { get; set; }
    private RenderFragment<NotificationParameter> ContentTemplate =(messages)=> 
        @<NotificationList NotificationRecords="@messages.NotificationRecords" Update="@messages.Update"></NotificationList>;

    public class NotificationParameter
    {
        public List<NotificationRecord> NotificationRecords { get; set; }
        public Action Update { get; set; }
    }
    
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        AfEventHub.RegisterHandler<UserNotificationEvent>(HandleUserNotificationEvent);
        await AfEventHub.EnsureStartAsync();
        await UpdateAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }
    
    private Task HandleUserNotificationEvent(UserNotificationEvent afEvent)
    {
        return UpdateAsync();
    }

    public void Update()
    {
        UpdateAsync().Wait();
    }

    private async Task UpdateAsync()
    {
        UnreadCount = await NotificationRecordService.GetUnreadCountAsync();
        Messages = await NotificationRecordService.GetListAsync();
        StateHasChanged();
    }
}