@using Newbe.BookmarkManager.Services
@using Newbe.BookmarkManager.Services.EventHubs

<Popover Placement="@PlacementType.Bottom"
         TitleTemplate="@_text" ContentTemplate="@ContentTemplate2(new NotificationParameter{
                                                     NotificationRecords = Messages,Update = Update})" Trigger="@(new[] {AntDesign.TriggerType.Click})">
    <Badge Count="@UnreadCount" Class="badge" >
        <Button Class="noticeButton">
            <Icon Type="bell" Theme="outline" Width="2em" Height="2em" />
        </Button>
    </Badge>

</Popover>

<style>
    .popover {
      position: relative;
      width: 336px;
    }
    
    .noticeButton {
      display: inline-block;
      cursor: pointer;
      transition: all 0.3s;
      padding: 4px 4px;
    }
    .icon {
      padding: 4px;
      vertical-align: middle;
    }
    
    .badge {
      font-size: 16px;
    }
   
</style>


@code {
    [Inject]
    public INotificationRecordService NotificationRecordService { get; set; }
    [Inject] 
    public IAfEventHub AfEventHub { get; set; }

    private int UnreadCount;
    private RenderFragment _text =@<span>Notification</span>;
    public List<NotificationRecord> Messages { get; set; }

    private RenderFragment<List<NotificationRecord>> ContentTemplate =(messages)=> 
        @<NotificationList NotificationRecords="@messages"></NotificationList>;
    
    private RenderFragment<NotificationParameter> ContentTemplate2 =(messages)=> 
        @<NotificationList NotificationRecords="@messages.NotificationRecords" Update="@messages.Update"></NotificationList>;

    public class NotificationParameter
    {
        public List<NotificationRecord> NotificationRecords { get; set; }
        public Action Update { get; set; }
    }
    
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        AfEventHub.RegisterHandler<UserNotificationEvent>(HandleUserNotificationEvent);
        await UpdateAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }
    
    private async Task HandleUserNotificationEvent(UserNotificationEvent afEvent)
    {
        await UpdateAsync();

    }

    public void Update()
    {
        UpdateAsync().Wait();
        Console.WriteLine();
    }

    private async Task UpdateAsync()
    {
        UnreadCount = await NotificationRecordService.GetUnreadCountAsync();
        Messages = await NotificationRecordService.GetListAsync();
        StateHasChanged();
    }
}