@page "/popup"
@page "/popup/index.html"
@using Microsoft.AspNetCore.Components
@using Newbe.BookmarkManager.Services
@inherits Blazor.BrowserExtension.Pages.BasePage

<div style="width: 640px;padding: 20px;">
    <Row>
        <Col Span="24">
            @if (_formModel.IsLoading)
            {
                <Progress Percent=80 Status="@ProgressStatus.Active" ShowInfo="false"></Progress>
            }
            else
            {
                @if (!_formModel.IsShowEditor)
                {
                    @if (_formModel.IsRemoved)
                    {
                        <Alert Type="@AlertType.Success"
                               Message="Bookmark Removed"
                               ShowIcon="false"/>
                    }
                    else if (!_formModel.IsAvailable)
                    {
                        <Alert Type="@AlertType.Warning"
                               Message="This tab can not be added to bookmarks"
                               ShowIcon="false"/>
                    }
                }
                else
                {
                    @if (_formModel.IsFirstAdded)
                    {
                        <Alert Type="@AlertType.Success"
                               Message="Bookmark Added!"
                               ShowIcon="false"/>
                    }
                    @if (_formModel.BookmarkTreeNode != null)
                    {
                        <Button OnClick="RemoveBookmarkAsync"
                                Style="width: 100%"
                                Type="dashed"
                                Danger>
                            Remove
                        </Button>
                    }
                    <Divider/>
                    <Card Size="small" Title="Title" Bordered="false">

                        <Body>
                        <Input @bind-Value="@_formModel.Title"/>
                        </Body>
                    </Card>
                    <Card Size="small" Title="Tags" Bordered="false">

                        <Body>
                        @foreach (var tag in _formModel.Tags)
                        {
                            <Tag Closable="true"
                                 OnClosing="e => OnRemovingTag(tag)"
                                 Color="@WebHelper.GetTagColor(tag)">
                                @tag
                            </Tag>
                        }
                        <TagInput OnNewTagsCreated="OnNewTagsAddAsync"
                                  Options="@_formModel.AllTags"
                                  IsAdding="true">
                        </TagInput>
                        </Body>
                    </Card>
                    <Card Size="small" Title="Url" Bordered="false">
                        <Body>
                        <Input @bind-Value="@_formModel.Url" Disabled/>
                        </Body>
                    </Card>

                    @if (!_formModel.IsUpdateSuccess)
                    {
                        <Button Type="@ButtonType.Primary"
                                Style="width: 100%"
                                OnClick="UpdateAsync"
                                Loading="@_formModel.IsUpdateButtonLoading">
                            Update
                        </Button>
                    }
                    else
                    {
                        <Alert Type="@AlertType.Success"
                               Message="Update success"
                               ShowIcon="true"/>
                    }
                }
            }
        </Col>
    </Row>

    <Row>
        <Col Span="24">
            <Divider/>
            <Button OnClick="OpenManager" Style="width: 100%">Open Manager</Button>
        </Col>
    </Row>
</div>